.reviews {
  width: 100%;
  margin: 0 auto;

  padding: 35px 30px 70px;

  box-sizing: border-box;
}

.reviews-heading {
  text-align: center;
  margin-bottom: 18px;
}

.reviews-heading span { 
  display: block;

  color: #dfff00;

  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;

  margin-bottom: 6px;
}

.reviews-heading p {
  margin-bottom: 50px;

  color: #fff;

  font-family: Road Rage;

  font-size: 100px;
  letter-spacing: 0.5px;
  line-height: 1;
}



.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 435px;
  height: 480px;

  margin: 0 auto;
  padding: 34px;

  box-sizing: border-box;

  border-radius: 7px;

  background: linear-gradient(
    135deg,
    #6500a8,
    #a80082
  );
}


/* Text */

.feedback-note {
  color: #dfff00;
  padding: 0px 30px;
  margin-bottom: 22px;
  font-family: Rammetto One;
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
}


.input-group {
  margin-bottom: 7px;
}

.input-group label {
  display: block;

  color: #fff;

  font-family: Roboto Flex;
  font-size: 12px;

  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 370px;

  box-sizing: border-box;

  background: #050505;

  border: 1px solid #000;

  color: #fff;

  outline: none;

  font-family: Arial, sans-serif;
  font-size: 12px;

  padding: 10px;
  border-radius: 5px;
}

.input-group input {
  height: 40px;
  margin-bottom: 10px;
}

.input-group textarea {
  height: 150px;

  resize: none;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #777;
}


/* Focus */

.input-group input:focus,
.input-group textarea:focus {
  border-color: #dfff00;
}


.feedback-form button {
  width: 100%;

  border-radius: 2px;

  font-family: Roboto Flex;
  font-weight: 800;

  cursor: pointer;

  transition: 0.2s ease;
}



@media (max-width: 450px) {

  .reviews {
    padding: 30px 20px 60px;
  }

  .reviews-heading h2 {
    font-size: 22px;
  }

  .feedback-form {
    width: 180px;
    min-height: 185px;
  }

  .feedback-note {
    font-size: 7px;
  }

  .input-group label {
    font-size: 6px;
  }

  .input-group input,
  .input-group textarea {
    font-size: 7px;
  }

  .input-group input {
    height: 22px;
  }

  .input-group textarea {
    height: 75px;
  }
}